
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --purple: #5B4F99;
    --green: #84CD9F;
    --light-white: #F9F8FF;
    --white: #FEFEFE;
    --grey: #9E9E9E;
}

.navbar
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: 116px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.nav-link {
    color: var(--purple);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: .2s ease color;
}

.nav-link:hover {
    text-decoration:underline;
    color: var(--purple);
}

.input-group
{
    width: 360px;
    height: 18px;
    border-radius: 8px;
}

.form-control.search
{
    border-color: var(--green);
    font-size: 16px;
    font-weight: 500;
    color: var(--light_gray);
}

.btn.btn-outline-secondary
{
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

.fas
{
    color: var(--purple);
}

.input-group-prepend
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-text
{
    background-color: var(--green);
    border-color: var(--green);
    border-radius: 0.25rem;

    margin-top: 10px;
}

.radio-text
{
    font-size: 16px;
    font-weight: 500;
    color: #6B6A6E;
    margin-top: 8px;
    margin-left: 5px;
}

.form-control.form-control__lp
{
    border-color: var(--green);
    font-size: 16px;
    font-weight: 500;
    color: var(--light_gray);
}

.input-group__p
{
    margin-top: 10px;
}

.btn.btn-primary
{
    margin-top: 25px;
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
    font-size: 16px;
    width: 120px;
    font-weight: 500;
    height: 40px;
}

.text-auth
{
    color: var(--purple);
    font-weight: 500;
    margin-top: 5px;
    font-size: 13px;
}

.text-auth:hover
{
    text-decoration: underline;
}

.col-2
{
    background-color: var(--light-white);
    border-radius: 8px;
    padding: 8px;
}

.col-information
{
    margin-top: 50px;
}

.col-information span
{
    color: var(--purple);
    font-weight: 500;
    font-size: 20px;
}

.list-group-item
{
    background-color: var(--light-white);
    color: var(--purple);
    font-weight: 500;
    margin-top: 5px;
    font-size: 13px;
}

.list-group-item a
{
    color: var(--purple);
    text-decoration: none;
}

.col-information__right span
{
    color: var(--purple);
    font-weight: 500;
    font-size: 20px;
}

.futer-text
{
    color: var(--purple);
    font-weight: 500;
    margin-top: 5px;
    font-size: 15px;
    text-decoration: none;
}

.futer-text:hover
{
    text-decoration: underline;
    color: var(--purple);
}

.img-index
{
    width: 800px;
    height: 279px;
    border-radius: 8px;
}

.news
{
    margin-top: 10px;
    border-bottom: solid var(--grey);
}

.news a
{
    color: var(--purple);
    text-decoration: none;
}

.news span
{
    color: var(--purple);
    font-size: 15px;
    font-weight: 500;
}

.news-last
{
    margin-top: 10px;
    margin-bottom: 30px;
}

.news-last a
{
    color: var(--purple);
    text-decoration: none;
}

.news-last span
{
    color: var(--purple);
    font-size: 15px;
    font-weight: 500;
}

